APP_DISPLAY_NAME = iAPS
APP_VERSION = 3.0.4
APP_BUILD_NUMBER = 1
COPYRIGHT_NOTICE =
DEVELOPER_TEAM = 6AKUF5UGR2
BUNDLE_IDENTIFIER = com.olachau
APP_GROUP_ID = group.com.olachau
APP_ICON = pod_colorful
APP_URL_SCHEME = freeaps-x

#include? "ConfigOverride.xcconfig"
//#include? "../../ConfigOverride.xcconfig"
